<title>Memory</title>
<script src='vendor/jquery/dist/jquery.min.js'></script>
<script src='vendor/flip/dist/jquery.flip.js'></script>
<script src='vendor/underscore/underscore.js'></script>
<script src='vendor/bootstrap/dist/js/bootstrap.min.js'></script> 
<link rel='stylesheet' href="vendor/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/main.css"/>
<script src='/js/app.js'></script> 