
<!-- Signup -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".signup-modal">Signup</button>

<div class="modal fade signup-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form method="POST" action="/signup" class="navbar-form navbar-right">
        <div class="form-group">
          <input type="text" name="user[email]" placeholder="email" class="form-control">
        </div>
        <div class="form-group">
          <input type="password" name="user[password]" placeholder="password" class="form-control">
        </div>
        <button type="submit" value="Signup" class="btn btn-success">Sign up</button>
      </form>
    </div>
  </div>
</div>
<!-- end signup -->

<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".login-modal">Login</button>

<div class="modal fade login-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form method="POST" action="/login" class="navbar-form navbar-right">
        <div class="form-group">
          <input type="text" name="user[email]" placeholder="email" class="form-control">
        </div>
        <div class="form-group">
          <input type="password" name="user[password]" placeholder="password" class="form-control">
        </div>
        <button type="submit" value="Login" class="btn btn-success">Login</button>
      </form>
    </div>
  </div>
</div>