<!DOCTYPE html>
<html>
<head>
  <% include partials/head %>
</head>

<body>
  <!-- NAVIGATION -->
 <% include partials/nav %>
  <!-- END NAVIGATION -->
    <!-- GAMEBOARD -->
          <div class="gameboard">
                  
             <!-- div contains 2 divs w/class of red/blue     -->
          <div class="piece">
            <div class="piece-image-red hidden"></div>
            <div class="piece-image-blue show"></div>
          </div>
          <div class="piece">
            <div class="piece-image-red hidden"></div>
            <div class="piece-image-blue show"></div>
          </div>      
          <div class="piece">
            <div class="piece-image-red"></div>
            <div class="piece-image-blue show"></div>
          </div> 
          <div class="piece">
            <div class="piece-image-red"></div>
            <div class="piece-image-blue show"></div>
          </div>
          <div class="piece">
            <div class="piece-image-red"></div>
            <div class="piece-image-blue show"></div>
          </div>
          <div class="piece">
            <div class="piece-image-red"></div>
            <div class="piece-image-blue show"></div>
          </div>
          <div class="piece">
            <div class="piece-image-red"></div>
            <div class="piece-image-blue show"></div>
          </div>
          <div class="piece">
            <div class="piece-image-red"></div>
            <div class="piece-image-blue show"></div>
          </div>
          <div class="piece">
            <div class="piece-image bye"></div>
          </div>
          <div class="piece">
            <div class="piece-image bye"></div>
          </div>
          <div class="piece">
            <div class="piece-image bye"></div>
          </div>
          <div class="piece">
            <div class="piece-image bye"></div>
          </div>
          <div class="piece">
            <div class="piece-image bye"></div>
          </div>
          <div class="piece">
            <div class="piece-image bye"></div>
          </div>
          <div class="piece">
            <div class="piece-image bye"></div>
          </div>
          <div class="piece">
            <div class="piece-image bye"></div>
          </div>
          <div class="piece">
            <div class="piece-image bye"></div>
          </div>
          <div class="piece">
            <div class="piece-image bye"></div>
          </div>
          
      </div> 


 </div>
</body>
</html>