<!DOCTYPE html>
<html>
<head>
  <% include partials/head %>
</head>

<body>
  <!-- NAVIGATION -->
 <% include partials/nav %>
  <!-- END NAVIGATION -->
    <!-- GAMEBOARD -->
      <div class="gameboard">
        <div id="shuffle">  
             <!-- div contains 2 d showivs w/class of red/blue,    --> 
          <div class="piece">
            <!-- 1 -->
            <div class="piece-image-octo hidden"></div>
              <div class="piece-image-blue show">
                <span> <img class="githubImg hideImg matched" value="A" src="https://octodex.github.com/images/adventure-cat.png" style="width:100px;height=100px;"></span> 
            </div>
          </div>
          <!-- 2 -->
          <div class="piece">
            <div class="piece-image-octo hidden"></div>
            <div class="piece-image-blue show">
              <span> <img class="githubImg hideImg matched" value="A" src="https://octodex.github.com/images/adventure-cat.png" style="width:100px;height=100px;"></span>
            </div>
          </div>
          <!-- 3 -->
          <div class="piece">
            <div class="piece-image-octo hidden"></div>
            <div class="piece-image-blue show">
              <span> <img class="githubImg hideImg matched" value="B" src="https://octodex.github.com/images/linktocat.jpg" style="width:100px;height=100px;"></span>
            </div>
          </div>
          <!-- 4 -->
          <div class="piece">
            <div class="piece-image-octo hidden"></div>
            <div class="piece-image-blue show">
              <span> <img class="githubImg hideImg matched" value="B" src="https://octodex.github.com/images/linktocat.jpg" style="width:100px;height=100px;"></span>
            </div>
          </div>
          <!-- 5 -->
          <div class="piece">
            <div class="piece-image-octo hidden"></div>
            <div class="piece-image-blue show">
              <span> <img class="githubImg hideImg matched" value="C" src="https://octodex.github.com/images/megacat.jpg" style="width:100px;height=100px;"></span>
            </div>
          </div>
          <!-- 6 -->
          <div class="piece">
            <div class="piece-image-octo hidden"></div>
            <div class="piece-image-blue show">
              <span> <img class="githubImg hideImg matched" value="C" src="https://octodex.github.com/images/megacat.jpg" style="width:100px;height=100px;"></span>
            </div>
          </div>
          <!-- 7 -->
          <div class="piece">
            <div class="piece-image-octo hidden"></div>
            <div class="piece-image-blue show">
              <span> <img class="githubImg hideImg matched" value="D" src="https://octodex.github.com/images/plumber.jpg" style="width:100px;height=100px;"></span>
            </div>
          </div>
          <!-- 8 -->
          <div class="piece">
            <div class="piece-image-octo hidden"></div>
            <div class="piece-image-blue show">
              <span> <img class="githubImg hideImg matched" value="D" src="https://octodex.github.com/images/plumber.jpg" style="width:100px;height=100px;"></span>
            </div>
          </div>
          <!-- 9 -->
          <div class="piece">
            <div class="piece-image-octo hidden"></div>
            <div class="piece-image-blue show">
              <span> <img class="githubImg hideImg matched" value="E" src="https://octodex.github.com/images/riddlocat.png" style="width:100px;height=100px;"></span>
            </div>
          </div>
          <!-- 10 -->
          <div class="piece">
            <div class="piece-image-octo hidden"></div>
            <div class="piece-image-blue show">
              <span> <img class="githubImg hideImg matched" value="E" src="https://octodex.github.com/images/riddlocat.png" style="width:100px;height=100px;"></span>
            </div>
          </div>
          <!-- 11 -->
          <div class="piece">
            <div class="piece-image-octo hidden"></div>
            <div class="piece-image-blue show">
              <span> <img class="githubImg hideImg matched" value="F" src="https://octodex.github.com/images/scarletteocat.jpg" style="width:100px;height=100px;"></span>
            </div>
          </div>
          <!-- 12 -->
          <div class="piece">
            <div class="piece-image-octo hidden"></div>
            <div class="piece-image-blue show">
              <span> <img class="githubImg hideImg matched" value="F" src="https://octodex.github.com/images/scarletteocat.jpg" style="width:100px;height=100px;"></span>
            </div>
          </div>
          <!-- 13 -->
          <div class="piece">
            <div class="piece-image-octo hidden"></div>
            <div class="piece-image-blue show">
              <span> <img class="githubImg hideImg matched" value="X" src="https://octodex.github.com/images/poptocat.png" style="width:100px;height=100px;"></span>
            </div>
          </div>
          <!-- 14 -->
          <div class="piece">
            <div class="piece-image-octo hidden"></div>
            <div class="piece-image-blue show">
              <span> <img class="githubImg hideImg matched" value="X" src="https://octodex.github.com/images/poptocat.png" style="width:100px;height=100px;"></span>
            </div>
          </div>
          <!-- 15 -->
          <div class="piece">
            <div class="piece-image-octo hidden"></div>
            <div class="piece-image-blue show">
              <span> <img class="githubImg hideImg matched A" value="Y" src="https://octodex.github.com/images/xtocat.jpg" style="width:100px;height=100px;"></span>
            </div>
          </div>
          <!-- 16 -->
          <div class="piece">
            <div class="piece-image-octo hidden"></div>
            <div class="piece-image-blue show">
              <span> <img class="githubImg hideImg matched A" value="Y" src="https://octodex.github.com/images/xtocat.jpg" style="width:100px;height=100px;"></span>
            </div>
          </div>
          <!-- 17 -->
          <div class="piece">
            <div class="piece-image-octo hidden"></div>
            <div class="piece-image-blue show">
              <span> <img data-card="B" class="githubImg hideImg matched B" value="Z" src="https://octodex.github.com/images/cherryontop-o-cat.png" style="width:100px;height=100px;"></span>
            </div>
          </div>
          <!-- 18 -->
          <div class="piece">
            <div class="piece-image-octo hidden"></div>
            <div class="piece-image-blue show">
              <span> <img data-card="B" class="githubImg hideImg matched B" value="Z" src="https://octodex.github.com/images/cherryontop-o-cat.png" style="width:100px;height=100px;"></span>
            </div>
          </div>
          </div><br>
          <!-- RESET BUTTON -->
          <center>
          <button type="submit" id ="reset" class="btn btn-default shuffle">SHUFFLE</button>
        </center>  
         <!-- END RESET BUTTON -->
      </div> 
 </div>
<!-- FOOTER -->
 <hr>
  <div class="row">
    <ul class="list-unstyled list-inline text-center">
      <li class="header"></li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p class="text-center">&copy;Copyright 2015&copy;</p>
    </div>
  </div>
</div>
</footer>
<!-- END FOOTER -->
</body>
</html>