<!DOCTYPE html>
<html>
<head>
  <% include partials/head %>
</head>

<body>
  <!-- NAVIGATION -->
 <% include partials/nav %>
  <!-- END NAVIGATION -->
    <!-- GAMEBOARD -->
          <div class="gameboard">
                  
                  
          <div class="piece"><div class="piece-image bye"></div></div>
          <div class="piece"><div class="piece-image bye"></div></div>      
          <div class="piece"><div class="piece-image bye"></div></div> 
          <div class="piece"><div class="piece-image bye"></div></div>
          <div class="piece"><div class="piece-image bye"></div></div>
          <div class="piece"><div class="piece-image bye"></div></div>
          <div class="piece"><div class="piece-image bye"></div></div>
          <div class="piece"><div class="piece-image bye"></div></div>
          <div class="piece"><div class="piece-image bye"></div></div>
          <div class="piece"><div class="piece-image bye"></div></div>
          <div class="piece"><div class="piece-image bye"></div></div>
          <div class="piece"><div class="piece-image bye"></div></div>
          <div class="piece"><div class="piece-image bye"></div></div>
          <div class="piece"><div class="piece-image bye"></div></div>
          <div class="piece"><div class="piece-image bye"></div></div>
          <div class="piece"><div class="piece-image bye"></div></div>
          <div class="piece"><div class="piece-image bye"></div></div>
          <div class="piece"><div class="piece-image bye"></div></div>
          
      </div> 


 </div>
</body>
</html>