<!DOCTYPE html>
<html>
<head>
  <% include partials/head %>
</head>
<body>
  <!-- NAVIGATION -->
<% include partials/nav %>
<!-- END NAVIGATION -->
<!-- LEADERBOARD -->
  <ul id="leaderboard"></ul>


<!-- SCRIPTS   -->
<script type="text/template" id="gameTemplate">
     
    </div>  
  </script>
</body>
</html>