<!DOCTYPE html>
<html>
<head>
  <% include partials/head %>
</head>
<body>
  <!-- NAVIGATION -->
<% include partials/nav %>

<!-- LEADERBOARD -->
  <ul id="leaderboard"></ul>


<!-- SCRIPTS   -->
<script type="text/template" id="gameTemplate">
     
     
  </script>
</body>
</html>