<!DOCTYPE html>
<html>
<head>
  <title>signup</title>
  <script src='/vendor/jquery/dist/jquery.min.js'></script>
  <script src='/vendor/underscore/underscore.js'></script>
  <script src='/vendor/bootstrap/dist/js/bootstrap.min.js'></script> 
  <link rel='stylesheet' href="vendor/bootstrap/dist/css/bootstrap.min.css">

  <!--<script src='/js/app.js'></script>-->
</head>
<body>

  <form method="POST" action="/signup">
    <input type="text" name="user[email]" placeholder="email">
    <input type="password" name="user[password]" placeholder="password">
    <input type="submit" value="Signup">
  </form>


  <!--
    {username: 'anon', password: '123'}

    {user: 
     {email: 'anon', password: '123'}
    }
-->

</body>
</html>