body {
  font-family: 'Oswald', sans-serif;
  background-image: url("http://pixelgirlpresents.com/images/desktops/j3_concepts/area04layedoutblue.png");
}

.navbar {
  background-color: #99FF99;
}

.btn {
  margin: 2%;
  color: #33CCCC;
}


.gameboard {
  display:  table;
  width: 750px;
  margin: 10%;
  box-shadow: 10px 10px 5px #888888;
  border:1px solid  #666666;
}

.piece {
  height: 100px;
  width: 100px;
  border: 2px solid blue;
  display: inline-block;
  margin: 10px; 
  box-shadow: 10px 10px 5px #888888;
  overflow: hidden;

}

.hideImg{
  display: none;
}


.piece-image {
  height: 100px;
  width: 100px;
  background-size: 100px;
}

.modal-backdrop {
  z-index: 0;
}

.piece-image-octo {
  height: 100px;
  width: 100px;
  background-size: 100px;
}

.piece-image-blue{
  height: 100px;
  width: 100px;
  background-size: 100px;
}

