body {
  font-family: 'Oswald', sans-serif;
  background-image: url("http://pixelgirlpresents.com/images/desktops/j3_concepts/area04layedoutblue.png");
}

.navbar {
  background-color: #99FF99;
}

.btn {
  margin: 2%;
  color: #33CCCC;
}


.gameboard {
  display:  table;
  width: 750px;
  margin: 9%;
  margin-bottom: 5%;
  box-shadow: 10px 10px 5px #888888;
  border:2px solid  #666666;
  border-radius: 20px;
}


.piece {
  height: 100px;
  width: 100px;
  border: 3px solid #FFFF7F;
  display: inline-block;
  margin: 10px; 
  box-shadow: 10px 10px 5px #888888;
  overflow: hidden;
  border-radius: 20px;
}

#reset {
  position: relative;
  bottom: 70px;
  right: 40px;
}

.hideImg{
  display: none;
}


.piece-image {
  height: 100px;
  width: 100px;
  background-size: 100px;
}

.modal-backdrop {
  z-index: 0;
}

.adv-cat {
  height: 100px;
  width: 100px;
  background-size: 100px;
  background-image: url('https://octodex.github.com/images/adventure-cat.png');
}

.link-cat {
  height: 100px;
  width: 100px;
  background-size: 100px;
  background-image: url('https://octodex.github.com/images/linktocat.jpg');
}

.megacat {
  height: 100px;
  width: 100px;
  background-size: 100px;
  background-image: url('https://octodex.github.com/images/megacat.jpg');
}

.plumbercat {
  height: 100px;
  width: 100px;
  background-size: 100px;
  background-image: url("https://octodex.github.com/images/plumber.jpg");
}

.riddlecat {
  height: 100px;
  width: 100px;
  background-size: 100px;
  background-image: url("https://octodex.github.com/images/riddlocat.png");
}

.scarletteocat {
  height: 100px;
  width: 100px;
  background-size: 100px;
  background-image: url("https://octodex.github.com/images/scarletteocat.jpg");
}

.poptocat {
  height: 100px;
  width: 100px;
  background-size: 100px;
  background-image: url("https://octodex.github.com/images/poptocat.png");
}

.xtocat {
  height: 100px;
  width: 100px;
  background-size: 100px;
  background-image: url("https://octodex.github.com/images/xtocat.jpg");
}

.cherryontop-o-cat {
  height: 100px;
  width: 100px;
  background-size: 100px;
  background-image: url("https://octodex.github.com/images/cherryontop-o-cat.png");
}


.top{
  height: 100px;
  width: 100px;
  background-size: 150px;
  background-image: url("http://pixelgirlpresents.com/images/desktops/railhead/PixelsII_tmb.jpg");
}